#set($h = '#')
<!DOCTYPE html />
<html>
    <head>
        <style>
            table,th,td {
                border: 1px solid black;
                border-collapse: collapse;
            } 
            th,td {
                padding: 15px;
                padding-bottom: 20px;
            }
            .entryname {
                white-space: nowrap;
            }
        </style>
    </head>
    <body style="background-color:#DFDFDF">
        <center>
            <table style="width:80%">
                #foreach( $qrFile in $files )
                <tr><td>
                    <div id="file:${qrFile.id}">
                        <h2>
                            <a href="${h}file:${qrFile.id}" id="hide:${qrFile.id}" style="display:none;" onclick="hide('${qrFile.id}')">[Hide]</a>
                            <a href="${h}file:${qrFile.id}" id="show:${qrFile.id}" style="" onclick="show('${qrFile.id}')">[Show]</a>
                            - ${qrFile.path}
                        </h2>
                        <center>
                            <img id="qr:${qrFile.id}" style="display:none;" src="qr/${qrFile.path}" />
                        </center>
                    </div>
                </td></tr>
                #end
            </table>
        </center>
        <script type="text/javascript">
            function show(file) {
                document.getElementById("show:" + file).style.display="none";
                document.getElementById("hide:" + file).style.display="";
                document.getElementById("qr:" + file).style.display="";
            }
            function hide(file) {
                document.getElementById("show:" + file).style.display="";
                document.getElementById("hide:" + file).style.display="none";
                document.getElementById("qr:" + file).style.display="none";
            }
        </script>
    </body>
</html>
